<div class="container-fluid">
  <div class="row">
    <div id="input-box">
      <form action="/" method="post" class="form-inline">
        <div class="form-group">
          <label for="name-input">Burger Name</label>
          <input type="text" name="burger_name" id="name-inout" class="form-control" placeholder="Burger Name">
        </div>
        <div class="form-group">
          <label for="bun-input">Bun</label>
          <select name="bun" id="bun-input" class="form-control">
            <option value="Sesame-Seed">Sesame-Seed</option>
            <option value="Whole Wheat">Whole Wheat</option>
            <option value="Brioche">Brioche</option>
          </select>
        </div>   
        <div class="form-group">
          <label for="patty-input">Patty</label>
          <select name="patty" id="patty-input" class="form-control">
            <option value="Beef">Beef</option>
            <option value="Turkey">Turkey</option>
            <option value="Veggie">Veggie</option>
          </select>
        </div>   
        <div class="form-group">
          <label for="pickles-input">Pickles</label>
          <input type="checkbox" name="pickles" id="pickles-input" class="form-control" value="true">
        </div>        
        <div class="form-group">
          <label for="ketchup-input">Ketchup</label>
          <input type="checkbox" name="ketchup" id="ketchup-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="mustard-input">Mustard</label>
          <input type="checkbox" name="mustard" id="mustard-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="onions-input">Onions</label>
          <input type="checkbox" name="onions" id="onions-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="cheese-input">Cheese</label>
          <input type="checkbox" name="cheese" id="cheese-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="tomato-input">Tomato</label>
          <input type="checkbox" name="tomato" id="tomato-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="bacon-input">Bacon</label>
          <input type="checkbox" name="bacon" id="bacon-input" class="form-control" value="true">
        </div>
        <div class="form-group">
          <label for="lettuce-input">Lettuce</label>
          <input type="checkbox" name="lettuce" id="lettuce-input" class="form-control" value="true">
        </div> 
        <div class="form-group">
          <label for="special-input">Custom Ingredient</label>
          <input type="text" name="special" id="special-inout" class="form-control" placeholder="Add your own ingredient">
        </div>       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <button id="refreshButton" class="btn">Refresh</button>
      <button id="clearButton" class="btn">Clear</button>  
    </div>
  </div>
  <div class="row">
    <div class="col-s-6" id="uneaten-box">
      {{#each uneaten}}
        <div class="burger col-sm-6 col-lg-4 text-center">
          <img src="/assets/img/good_burger.png" class="uneaten-burger clickable" data-id="{{this.id}}" alt="Good Burger">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{this.burger_name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ingredient-dropdown" id="{{this.id}}" role="menu" aria-labelledby="menu1"></ul>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-s-6" id="eaten-box">
      {{#each eaten}}
        <div class="burger col-sm-6 col-lg-4">
          <img src="/assets/img/gone_burger.png" class="eaten-burger" data-id="{{this.id}}" alt="Good Burger">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{this.burger_name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ingredient-dropdown" id="{{this.id}}" role="menu" aria-labelledby="menu1"></ul>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>