<div class="container-fluid">
  <div class="row">
    <div id="input-box">
      <form action="/" method="post">
        <input type="text" name="name" class="form-control" placeholder="Burger Name">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <button id="refreshButton" class="btn">Refresh</button>
      <button id="clearButton" class="btn">Clear</button>  
    </div>
  </div>
  <div class="row">
    <div class="col-s-6" id="uneaten-box">
      {{#each uneaten}}
        <div class="burger col-sm-6 col-lg-4">
          <div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{this.burger_name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu ingredient-dropdown" id="{{this.id}}" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{this.ingredients.[0]}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{this.ingredients.[1]}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{this.ingredients.[2]}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{this.ingredients.[3]}}</a></li> 
              </ul>
            </div>
          </div>
            <a>  
              <img src="/assets/img/good_burger.png" class="uneaten-burger clickable" data-id="{{this.id}}" alt="Good Burger">
            </a>  
          
        </div>
      {{/each}}
    </div>
    <div class="col-s-6" id="eaten-box">
      {{#each eaten}}
        <div class="burger col-sm-6 col-lg-4">
          <span data-id="{{this.id}}" class="burger-text">{{this.burger_name}}</span>
          <img src="/assets/img/gone_burger.png" class="eaten-burger" alt="Gone Burger">
        </div>
      {{/each}}
    </div>
  </div>
</div>